body {
  --main-bg-color: #fff;
  --main-font-color: #4a4a4a;
  --second-color: #ccd1cb;
  --third-color: #ff2559;
  --fourth-color: #007c87;

  background-color: var(--main-bg-color);
  color: var(--main-font-color);
  font-family: Helvetica, sans-serif;
  padding: 2rem 2rem;
}

.border {
  /*border-top: 1px solid var(--second-color);*/
  border-bottom: 1px solid var(--second-color);
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/**********RATING COMPONENT**********/

.rating-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.rating-left {
  flex: 1;
}

.rating-right {
  flex: 1;
}

.star {
  color: #00858c;
  margin-right: 8px;
}

/**********SEARCH COMPONENT**********/

.search-container {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.bar-container {
  display: flex;
  width: 50%;
  /*direction: rtl;*/
}

.review-length-container {
  display: flex;
  justify-content: space-between;
  width: 50%;
  font-size: 20px;
  font-weight: bolder;
  justify-content: flex-start;
}

.space-right {
  margin: 6px;
}

.search-mag-glass {
  border-bottom: 1px solid var(--second-color);
  border-top: 1px solid var(--second-color);
  border-left: 1px solid var(--second-color);
}

.search-bar-border {
  /*border-bottom: 1px solid var(--second-color);
  border-top: 1px solid var(--second-color);
  border-right: 1px solid var(--second-color);
  border-left: 1px solid white;*/
  width: 80%;
}

/**********REVIEW COMPONENT**********/

.review-container {
  display: flex;
}

.user-date-container {
  margin-left: 10px;
}

.username {
  font-weight: bold;
}

.description {
  line-height: 22px;
  font-size: 16px;
}

.user-image {
  border-radius: 50%;
  height: 60px;
  width: auto;
}



.read-more {
  color: blue;
  border: none;
}

